#main{
    .product-list-title{
        text-align: center;
        padding: 50px 0 20px;
        font-size: 27px;
        margin-bottom: 60px;
    }
    ul{
        li{
            margin-bottom: 20px;
        }
    }
}